
@font-face {
	font-family: 'Aeonik';
	src: url(../font/63f89ac698df869a1a3076eb_Aeonik-Light.otf) format('opentype');
	font-weight: 300;
}
@font-face {
	font-family: 'Aeonik';
	src: url(../font/63f89ac78fa23e54bccd6d83_Aeonik-Regular.otf) format('opentype');
	font-weight: 400;
}
@font-face {
	font-family: 'Mazius';
	src: url(../font/63f89aa6a3a619000cf5656b_MAZIUS.otf) format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Light.woff2) format('woff2');
	font-weight: 300;
}
@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Regular.woff2) format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Medium.woff2) format('woff2');
	font-weight: 500;
}